<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Secure Notes</title>
</head>
<body>
  <h1>Welcome to Secure Notes App</h1>
  <p>This is login page</p>
</body>
</html>
